* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 15pt arial;
}

body {
    background-color: rgb(70, 142, 236);
    color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

header {
    font-size: 70px;
    font-weight: 700;
}

select {
    padding: 10px;
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 5px black;
    width: 450px;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
}

#inputLabelButton button {
    font-size: 13px;
    padding: 4px;
    margin-bottom: 10px;
}

footer {
    font-style: italic;
}
